@{
    ViewData["Title"] = "Mes Statistiques";
}

<div id="title" class="main-title"><h1><strong style="color:#E95325;">M</strong>es statistiques - Vos données utilisateur</h1></div>
<div class="block-breadcrumb">
    <div class="horizontal-scroll">
        <ul class="breadcrumb">
            <li><a href="/Home/Dashboard"><i class="icon ic-breadcrumb-dashboard"></i>Tableau de bord</a></li>
            <li class="active">Aide - Une question ?</li>
        </ul>
    </div>
</div>
</br>

    <div class="row main-row">
        <main class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main">

            <section class="page-content page-list">

                <section class="block block-data">
                    <div class="module-filters">
                        <form action="#" method="POST">
                            <div class="horizontal-scroll">
                                <div class="block-bg">
                                    <div class="filter-row">
                                        <div class="filter-col col-1-2">
                                            <div class="select-container">
                                                <select name="display" id="displayBy">
                                                    <option value="#financingRequest" selected="">Afficher : Demandes de financement</option>
                                                    <!-- <option value="">Afficher : Evolution de contrat</option>
                                                    <option value="">Afficher : Nombre de contrats</option>
                                                    <option value="">Afficher : Montant financé (€ H.T.)</option> -->
                                                    <option value="#statisticsRates">Afficher : Taux d’accord</option>
                                                    <!-- <option value="">Afficher : Taux de mise en place</option> -->
                                                </select>
                                            </div>
                                        </div>
                                        <div class="filter-col col-1-2">
                                            <div class="select-container">
                                                <select name="duration" id="duration">
                                                    <option value="">Sur : 12 mois glissants</option>
                                                    <option value="">Sur : 6 mois glissants</option>
                                                    <option value="">Sur : 24 mois glissants</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <div class="horizontal-scroll">

                        <div class="stat-content financing-request active" id="financingRequest">
                            <div class="row list-datas">
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 data-item">
                                    <a href="#" class="data-content">
                                        <span class="number">53</span>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                        <span class="statut">Total</span>
                                    </a>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 data-item">
                                    <a href="#" class="data-content">
                                        <span class="number">53</span>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                        <span class="statut">Etablissement 1</span>
                                    </a>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 data-item">
                                    <a href="#" class="data-content">
                                        <span class="number">20</span>
                                        <span class="evolution">
                                            <span class="evolution-value">-2,3</span>
                                            <i class="icon ic-evolution-down" title="en hausse"></i>
                                        </span>
                                        <span class="statut">Etablissement 2</span>
                                    </a>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 data-item">
                                    <a href="#" class="data-content">
                                        <span class="number">53</span>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                        <span class="statut">Lorem ipsum</span>
                                    </a>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 data-item">
                                    <a href="#" class="data-content">
                                        <span class="number">53</span>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                        <span class="statut">Lorem ipsum</span>
                                    </a>
                                </article>
                            </div>
                        </div>

                        <div class="stat-content statistics-rates" id="statisticsRates">
                            <div class="row list-rates">
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 rate-item">
                                    <div class="rate-container">
                                        <span class="rate-title">Total</span>
                                        <div data-percent="60.5" class="percircle animate gt50"><span>60.5%</span><div class="slice"><div class="bar" style="transform: rotate(217.8deg);"></div><div class="fill"></div></div></div>
                                        <span class="evolution">
                                            <span class="evolution-value">-2,3</span>
                                            <i class="icon ic-evolution-down" title="en hausse"></i>
                                        </span>
                                    </div>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 rate-item">
                                    <div class="rate-container">
                                        <span class="rate-title">Etablissement 1</span>
                                        <div data-percent="52.1" class="percircle animate gt50"><span>52.1%</span><div class="slice"><div class="bar" style="transform: rotate(187.56deg);"></div><div class="fill"></div></div></div>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                    </div>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 rate-item">
                                    <div class="rate-container">
                                        <span class="rate-title">Etablissement 2</span>
                                        <div data-percent="90.5" class="percircle animate gt50"><span>90.5%</span><div class="slice"><div class="bar" style="transform: rotate(325.8deg);"></div><div class="fill"></div></div></div>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                    </div>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 rate-item">
                                    <div class="rate-container">
                                        <span class="rate-title">Lorem ipsum</span>
                                        <div data-percent="25" class="percircle animate"><span>25%</span><div class="slice"><div class="bar" style="transform: rotate(90deg);"></div><div class="fill"></div></div></div>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                    </div>
                                </article>
                                <article class="col-lg-3 col-md-4 col-sm-4 col-xs-6 rate-item">
                                    <div class="rate-container">
                                        <span class="rate-title">Lorem ipsum</span>
                                        <div data-percent="60.5" class="percircle animate gt50"><span>60.5%</span><div class="slice"><div class="bar" style="transform: rotate(217.8deg);"></div><div class="fill"></div></div></div>
                                        <span class="evolution">
                                            <span class="evolution-value">+14</span>
                                            <i class="icon ic-evolution-up" title="en hausse"></i>
                                        </span>
                                    </div>
                                </article>
                            </div>
                        </div>

                    </div>
                </section>

                <section class="block block-statistics">
                    <h2 class="block-title">Statistiques par commercial</h2>
                    <div class="module-filters">
                        <form action="#" method="POST">
                            <span class="btn-filter" data-id="#subFilters">Filtrer<i class="icon ic-filter"></i></span>
                            <div class="sub-filters" id="subFilters">
                                <div class="horizontal-scroll">
                                    <div class="block-bg">
                                        <div class="filter-row">
                                            <div class="filter-col col-1-3">
                                                <div class="dropdown">
                                                    <span class="btn-dropdown collapsed" data-target="#dlMarket" data-toggle="collapse" aria-expanded="false">
                                                        Marchés
                                                        <span class="caret"></span>
                                                    </span>
                                                    <div class="dropdown-menu" id="dlMarket">
                                                        <div class="dropdown-header">
                                                            <a class="close-dropdown" data-id="#dlMarket" href="#"><i class="icon ic-back"></i></a>
                                                            <button class="btn btn-validate apply-filter">Appliquer</button>
                                                        </div>
                                                        <i class="icon ic-search"></i>
                                                        <select class="select2-select select2-hidden-accessible" id="marketSelect" multiple="" tabindex="-1" aria-hidden="true">
                                                            <option value="Informatique">Informatique et technologies d'affichage</option>
                                                            <option value="Télécom">Télécom et visioconférence</option>
                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Rechercher..." style="width: 100px;" type="search"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                        <div class="dropdown-footer">
                                                            <button class="btn btn-validate apply-filter">Appliquer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="filter-col col-1-3">
                                                <div class="dropdown">
                                                    <span class="btn-dropdown collapsed" data-target="#dlSupervisor" data-toggle="collapse" aria-expanded="false">
                                                        Superviseurs
                                                        <span class="caret"></span>
                                                    </span>
                                                    <div class="dropdown-menu" id="dlSupervisor">
                                                        <div class="dropdown-header">
                                                            <a class="close-dropdown" data-id="#dlSupervisor" href="#"><i class="icon ic-back"></i></a>
                                                            <button class="btn btn-validate apply-filter">Appliquer</button>
                                                        </div>
                                                        <i class="icon ic-search"></i>
                                                        <select class="select2-select select2-hidden-accessible" id="supervisorSelect" multiple="" tabindex="-1" aria-hidden="true">
                                                            <option value="Da Silva">Anne-José Da Silva</option>
                                                            <option value="Aliane">Ismail Aliane</option>
                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Rechercher..." style="width: 100px;" type="search"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                        <div class="dropdown-footer">
                                                            <button class="btn btn-validate apply-filter">Appliquer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="filter-col col-1-3">
                                                <div class="dropdown">
                                                    <span class="btn-dropdown collapsed" data-target="#dlEngineer" data-toggle="collapse" aria-expanded="false">
                                                        Ingénieurs commerciaux
                                                        <span class="caret"></span>
                                                    </span>
                                                    <div class="dropdown-menu" id="dlEngineer">
                                                        <div class="dropdown-header">
                                                            <a class="close-dropdown" data-id="#dlEngineer" href="#"><i class="icon ic-back"></i></a>
                                                            <button class="btn btn-validate apply-filter">Appliquer</button>
                                                        </div>
                                                        <i class="icon ic-search"></i>
                                                        <select class="select2-select select2-hidden-accessible" id="engineerSelect" multiple="" tabindex="-1" aria-hidden="true">
                                                            <option value="Lemaître">Alexis Lemaître</option>
                                                            <option value="Moïse">Angélique Moïse</option>
                                                            <option value="Masson">Aurore Masson</option>
                                                            <option value="Launay">François Launay</option>
                                                            <option value="Leclerc">Gabriel Leclerc</option>
                                                            <option value="Broughton">Henry Broughton</option>
                                                            <option value="Klein">Isabelle Klein</option>
                                                            <option value="Frappier">Philippe Frappier</option>
                                                            <option value="Motin">Tanguy Motin</option>
                                                            <option value="De Launay">Sébastien De Launay</option>
                                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="-1"><ul class="select2-selection__rendered"><li class="select2-search select2-search--inline"><input class="select2-search__field" tabindex="0" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false" role="textbox" aria-autocomplete="list" placeholder="Rechercher..." style="width: 100px;" type="search"></li></ul></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                                        <div class="dropdown-footer">
                                                            <button class="btn btn-validate apply-filter">Appliquer</button>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="statistics-content">
                        <article class="statistics-item">
                            <p class="customer-name">Alexis Lemaître</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 28%"></div></div>
                                <div class="bar-value">28%</div>
                            </div>
                        </article>
                        <article class="statistics-item">
                            <p class="customer-name">Angélique Moïse</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 36%"></div></div>
                                <div class="bar-value">36%</div>
                            </div>
                        </article>
                        <article class="statistics-item">
                            <p class="customer-name">Aurore Masson</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 14%"></div></div>
                                <div class="bar-value">14%</div>
                            </div>
                        </article>
                        <article class="statistics-item">
                            <p class="customer-name">Gabriel Leclerc</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 88%"></div></div>
                                <div class="bar-value">88%</div>
                            </div>
                        </article>
                        <article class="statistics-item">
                            <p class="customer-name">Philippe Frappier</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 52%"></div></div>
                                <div class="bar-value">52%</div>
                            </div>
                        </article>
                        <article class="statistics-item">
                            <p class="customer-name">Sébastien De Launay</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 41%"></div></div>
                                <div class="bar-value">41%</div>
                            </div>
                        </article>
                        <article class="statistics-item">
                            <p class="customer-name">Tanguy Motin</p>
                            <div class="bar-container">
                                <div class="bar"><div class="bar-inner" style="width: 17%"></div></div>
                                <div class="bar-value">17%</div>
                            </div>
                        </article>
                    </div>
                </section>

            </section>

        </main>
    </div>