@{
    ViewData["Title"] = "A propos";
}

@section Banner {
}


<div class="titleTopPage">
    <h2><strong style="color:#E95325;">À</strong> propos</h2>
    <h3>Un projet pour nos enfants.</h3>
</div>
<br />

<div class="row">
    <div class="col-md-8 col-md-offset-2 text-right content-slogan">
        <h1 class="Slogan">
            <blockquote class="pull-right">
                <p>Aucun de nous ne sait ce que nous savons tous, ensemble.</p>
                <small id="auteur">by <cite>Euripide</cite></small>
            </blockquote>
        </h1>
        <div class="buttons">
            <a href="/Account/Register/registerLink" title="Nous rejoindre" class="btn btn-primary btn-lg">Nous rejoindre</a>
        </div>
    </div>
</div>

<p>
    L'objectif du projet est de développer une plateforme collaborative déstinée aux professeurs.
    Nous souhaitons leur offrir une solution de partage pour leurs cours au format PDF.
    Nous souhaitons rappeler que l'accès aux services est gratuit. Un accès premium est disponible afin
    de nous aider financièrement.
</p>
<br />

