@{
    ViewData["Title"] = "À propos";
}

<div id="title" class="main-title"><h1><strong style="color:#E95325;">À</strong> propos - Qui sommes-nous ?</h1></div>
<div class="block-breadcrumb">
    <div class="horizontal-scroll">
        <ul class="breadcrumb">
            <li><a href="/Home/Dashboard"><i class="icon ic-breadcrumb-dashboard"></i>Tableau de bord</a></li>
            <li class="active">À propos - Qui sommes-nous ?</li>
        </ul>
    </div>
</div>
</br>

<p>
    L'objectif du projet est de développer une plateforme collaborative déstinée aux professeurs.
    Nous souhaitons leur offrir une solution de partage pour leurs cours au format PDF.
    Nous souhaitons rappeler que l'accès aux services est gratuit. Un accès premium est disponible afin
    de nous aider financièrement.
</p>
<br />

<div role="tabpanel" class="tab-pane fade tab-training-modules active in" id="trainingModules">
    <section class="block block-table-datas">
        <h2 class="block-title">Accréditation partenaire</h2>
        <div class="horizontal-scroll">
            <div class="datas-table">
                <table class="table">
                    <colgroup>
                        <col class="w-25">
                        <col class="w-65">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <a class="video-thumbnail" href="accreditation-partenaire.html" title="Voir la vidéo"><i class="icon ic-play"></i><img class="img-responsive" src="img/temp/video.jpg" alt=""></a>
                            </td>
                            <td>
                                Description du contenu de la vidéo<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                            </td>
                            <td class="icon-action-col">
                                <a class="icon-action" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Partager"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="block block-table-datas">
        <h2 class="block-title">Création d'une affaire</h2>
        <div class="horizontal-scroll">
            <div class="datas-table">
                <table class="table">
                    <colgroup>
                        <col class="w-25">
                        <col class="w-65">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <a class="video-thumbnail" href="accreditation-partenaire.html" title="Voir la vidéo"><i class="icon ic-play"></i><img class="img-responsive" src="img/temp/video.jpg" alt=""></a>
                            </td>
                            <td>
                                Description du contenu de la vidéo<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                            </td>
                            <td class="icon-action-col">
                                <a class="icon-action" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Partager"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="block block-table-datas">
        <h2 class="block-title">Edition d'un contrat</h2>
        <div class="horizontal-scroll">
            <div class="datas-table">
                <table class="table">
                    <colgroup>
                        <col class="w-25">
                        <col class="w-65">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <a class="video-thumbnail" href="accreditation-partenaire.html" title="Voir la vidéo"><i class="icon ic-play"></i><img class="img-responsive" src="img/temp/video.jpg" alt=""></a>
                            </td>
                            <td>
                                Description du contenu de la vidéo<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                            </td>
                            <td class="icon-action-col">
                                <a class="icon-action" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Partager"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="block block-table-datas">
        <h2 class="block-title">Signature électronique d'un contrat</h2>
        <div class="horizontal-scroll">
            <div class="datas-table">
                <table class="table">
                    <colgroup>
                        <col class="w-25">
                        <col class="w-65">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <a class="video-thumbnail" href="accreditation-partenaire.html" title="Voir la vidéo"><i class="icon ic-play"></i><img class="img-responsive" src="img/temp/video.jpg" alt=""></a>
                            </td>
                            <td>
                                Description du contenu de la vidéo<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                            </td>
                            <td class="icon-action-col">
                                <a class="icon-action" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Partager"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <section class="block block-table-datas">
        <h2 class="block-title">Faire évoluer un contrat</h2>
        <div class="horizontal-scroll">
            <div class="datas-table">
                <table class="table">
                    <colgroup>
                        <col class="w-25">
                        <col class="w-65">
                        <col>
                    </colgroup>
                    <tbody>
                        <tr>
                            <td>
                                <a class="video-thumbnail" href="accreditation-partenaire.html" title="Voir la vidéo"><i class="icon ic-play"></i><img class="img-responsive" src="img/temp/video.jpg" alt=""></a>
                            </td>
                            <td>
                                Description du contenu de la vidéo<br>
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget.
                            </td>
                            <td class="icon-action-col">
                                <a class="icon-action" data-toggle="tooltip" data-placement="top" title="" href="#" data-original-title="Partager"><i class="fa fa-share-alt" aria-hidden="true"></i></a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    <div></div>
</div>

