@{
    ViewData["Title"] = "Contact";
}

@section Banner {
    <div class="spacer"></div>
    <div class="spacer"></div>
    <div class="row">
        <div class="col-md-8 col-md-offset-2 text-right content-slogan">
            <h1 class="Slogan">
                <blockquote class="pull-right">
                    <p>Aucun de nous ne sait ce que nous savons tous, ensemble.</p>
                    <small id="auteur">by <cite>Euripide</cite></small>
                </blockquote>
            </h1>
            <div class="buttons">
                <a href="/Account/Register/registerLink" title="Nous rejoindre" class="btn btn-primary btn-lg">Nous rejoindre</a>
            </div>
        </div>
    </div>
}


<div class="titleTopPage">
    <h2><strong style="color:#E95325;">C</strong>ontact</h2>
    <h3>Nous contacter.</h3>
</div>
<br />
<address>
    <p>Actuellement, nous somme disponible uniquement par mail.</p></br>
    Merci.
</address>

<address>
    <strong>Administrateur :</strong> <a href="loic.souffleteau@gmail.com">loic.souffleteau@gmail.com</a><br />
    <strong>Concepteur et Développeur :</strong> <a href="jordan.souffleteau@gmail.com">jordan.souffleteau@gmail.com</a>
</address>