@model ProfProPartage.ViewModel.ViewModelFicheCoursList

@{
    ViewData["Title"] = "Index";
}

<div id="Filter">
    <div id="contentFilter">
        <div class="spacer"></div>
        <div id="checkboxSelectComboNiv"></div>
        <div id="checkboxSelectComboMat"></div>
        <div id="checkboxSelectComboThe"></div>

        <div id="itemData">
            <div id="table">
                <ul id="tableNiv" class="tableSelected"></ul>
                <ul id="tableMat" class="tableSelected"></ul>
                <ul id="tableThe" class="tableSelected"></ul>
            </div>
        </div>
    </div>
</div>
<div class="content-listFiche">
    <div class="col-md-12">
        <div class="spacer"></div>

        <div id="parent">

            @Html.Partial("listFiche", Model.ListFic)
        </div>

        <div class="spacer"></div>

        <div class="modal fade" id="PDFViewer" tabindex="-1" role="dialog" aria-labelledby="PDFViewerLabel" aria-hidden="true">
            <div id="PDFDialog" class="modal-dialog">
                <div id="PDFModal" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="PDFViewerLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div id="wrap">
                            <div id="left_div">
                                <div id="IframePDF">
                                    <iframe frameborder="0"></iframe>
                                </div>
                            </div><div id="right_div">
                                <div id="contentPDF"></div>
                            </div>
                        </div>
                    </div>
                    <div id="footerPDF">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <a id="btnDownload" class="btn btn-primary" download>Download</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
