@model ProfProPartage.ViewModel.ViewModelFicheCoursList

@{
    ViewData["Title"] = "Accueil";
    ViewData["user"] = "Accueil";
}

<div id="title" class="main-title"><h1><strong style="color:#E95325;">A</strong>ccueil - Recherche d'une fiche</h1></div>
<div class="block-breadcrumb">
    <div class="horizontal-scroll">
        <ul class="breadcrumb">
            <li><a href="/"><i class="icon ic-breadcrumb-dashboard"></i>Tableau de bord</a></li>
            <li class="active">Accueil - Recherche d'une fiche</li>
        </ul>
    </div>
</div>
</br>

<div id="Filter">
    <div id="contentFilter">
        <div class="spacer"></div>
        <div id="checkboxSelectComboNiv"></div>
        <div id="checkboxSelectComboMat"></div>
        <div id="checkboxSelectComboThe"></div>

        <div id="itemData">
            <div id="table">
                <ul id="tableNiv" class="tableSelected"></ul>
                <ul id="tableMat" class="tableSelected"></ul>
                <ul id="tableThe" class="tableSelected"></ul>
            </div>
        </div>
    </div>
</div>
<div class="content-listFiche">
    <div class="col-md-12">
        <div class="spacer"></div>

        <div id="parent">
            @Html.Partial("listFiche", Model.ListFic)
        </div>
        
        <div class="modal fade" id="PDFViewer" tabindex="-1" role="dialog" aria-labelledby="PDFViewerLabel" aria-hidden="true" style="display: none;">
            <div id="PDFDialog" class="modal-dialog">
                <div id="PDFModal" class="modal-content" style="height: 543px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="PDFViewerLabel">eval</h4>
                    <div class="modal-body">
                        <div class="tabs tabs-style-linetriangle">
                            <nav>
                                <ul>
                                    <li class="tab active">
                                        <a href="#pdfDoc" data-toggle="tab">
                                            <span class="ic-container"><i class="fa fa-file-pdf-o"></i></span>
                                            <span>Fiche PDF</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#pdfData" data-toggle="tab">
                                            <span class="ic-container"><i class="fa fa-pie-chart"></i></span>
                                            <span>Métadonnées</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#pdfAuthor" data-toggle="tab">
                                            <span class="ic-container"><i class="fa fa-vcard"></i></span>
                                            <span>Description</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="modal-header">
                            <div id="wrap">
                                <div class="tab-content">
                                    <div id="pdfDoc" class="tab-pane active">
                                        <div id="IframePDF">
                                            <iframe></iframe>
                                        </div>
                                    </div>
                                    <div id="pdfData" class="tab-pane">
                                        <div id="dataPDF"></div>
                                    </div>
                                    <div id="pdfAuthor" class="tab-pane">
                                        <div id="contentPDF"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="footerPDF">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <a id="btnDownload" class="btn btn-primary" download="" href="/Files/eval_CE2_conj_present.pdf">Download</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
