@model ProfProPartage.ViewModel.ViewModelFicheCoursInvalideList

@{
    ViewData["Title"] = "Accueil";
}

<div class="content-listFiche">
    <div class="col-md-12">

        <button class="active btnP btnNiv btnMat" id="all">Show All</button>

        <br />

        <button class="btnP btnNiv" id="CP">CP</button>
        <button class="btnP btnNiv" id="CE1">CE1</button>
        <button class="btnP btnNiv" id="CE2">CE2</button>
        <button class="btnP btnNiv" id="CM1">CM1</button>
        <button class="btnP btnNiv" id="CM2">CM2</button>

        <br />

        <button class="btnP btnMat" id="Francais">Francais</button>
        <button class="btnP btnMat" id="Maths">Maths</button>
        <button class="btnP btnMat" id="Anglais">Anglais</button>
        <button class="btnP btnMat" id="DcvrtdMonde">Decouverte du monde</button>
        <button class="btnP btnMat" id="Sport">Sport</button>
        <button class="btnP btnMat" id="InstCivMoral">Instruction civique et morale</button>
        <button class="btnP btnMat" id="PraHistArts">Pratique et histoire des arts</button>
        <button class="btnP btnMat" id="JeuxEduc">Jeux educatifs</button>
        <button class="btnP btnMat" id="Outils">Outils</button>
        <button class="btnP btnMat" id="EventAnnee">Evenements de l'annee</button>

        <div class="spacer"></div>

        <div id="parent">

            @Html.Partial("listFicheInvalide", Model.ListFic)
        </div>

        <div class="spacer"></div>

        <div class="modal fade" id="PDFViewer" tabindex="-1" role="dialog" aria-labelledby="PDFViewerLabel" aria-hidden="true">
            <div id="PDFDialog" class="modal-dialog">
                <div id="PDFModal" class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="PDFViewerLabel">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <div id="wrap">
                            <div id="left_div">
                                <div id="IframePDF" >
                                    <iframe frameborder="0"></iframe>
                                </div>
                            </div><div id="right_div">
                                <div id="contentPDF"></div>
                            </div>
                        </div>
                    </div>
                    <div id="footerPDF">
                        <button type="button" class="btn btn-danger" onclick="javascript: RefuserFicheInvalide();">Refuser</button>
                        <button type="button" class="btn btn-success" onclick="javascript: ValiderFicheInvalide();" >Valider</button>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>

<script>
    function ValiderFicheInvalide() {
        var id = $("#PDFViewer iframe").attr("id");
        $.ajax({
            url: '@Url.Action("ValiderFicheInvalide", "Admin")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { id: id },
            success: function () {
                alert("ok");
            }
        });
    }

    function RefuserFicheInvalide() {
        var id = $("#PDFViewer iframe").attr("id");
        $.ajax({
            url: '@Url.Action("RefuseerFicheInvalide", "Admin")',
            type: 'GET',
            dataType: 'json',
            cache: false,
            data: { id: id },
            success: function () {
                alert("ok");
            }
        });
    }
</script>