:root{
  --main-color: #e74c3c;
  --second-color: #f2776a;
  --third-color: #FF5C4A;
  --dark-color: #35373b;
}

#keywords_selected {
     
    display:inline;
}

.kw_selected {
    display:inline;
    padding-right : 20px;
}

#WaitAMoment {
    display:none;
}

body {
    padding-top: 50px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    margin-top:30px;
    background-color:#eeeeee;    
    border-radius: 10px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

* {
  box-sizing: border-box;
}
.btnP {
  border: none;
  background: linear-gradient(to bottom, #4d4d4d, #808080);
  border-radius: 3px;
  font-family: Arial;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  text-decoration: none;
  margin: 5px;
  min-width:100px;
}

.btnP:hover {
  background: linear-gradient(to bottom,#4d4d4d, #808080);
  text-decoration: none;
  background-image:linear-gradient(to bottom,#4d4d4d, #808080);
  opacity:0.7;
}

.btnP.active:hover {
  background: linear-gradient(to bottom,#b32400, #b32400);
  text-decoration: none;
  background-image:linear-gradient(to bottom,#b32400, #b32400);
  opacity:0.7;
}

.btnP.active {
  background: linear-gradient(to bottom,#661400, #b32400);
  text-decoration: none;
  background-image:linear-gradient(to bottom,#661400, #b32400);
}

.box {
    margin-bottom:50px;
    width: 350px;
    /*width: 1900px;*/
    display:inline-block;
    text-decoration:none;
}


.spacer {
  clear: both;
  height: 20px;
}

.subTitle{
    color:red;
}

#fond{
  overflow: hidden;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1000;
  

  margin: 0px;
  padding: 0px;
  background: white;
  color: rgb(85, 85, 85);
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
    

  background:url("../Images/Classe2.png") no-repeat fixed;
  background-size: cover;

  -webkit-filter: blur(4px);
  -moz-filter: blur(4px);
  -o-filter: blur(4px);
  -ms-filter: blur(4px);
  filter: blur(4px);
}

#PDFViewerLabel{
  font-size:30px;
  text-align:center;
  height:40px;
  vertical-align:middle;
  background-color: var(--dark-color);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  color: white;
}

#PDFViewer{    
  overflow:hidden;
  width:100%;
}

#PDFDialog{
  width:1200px;  
  margin-top:30px;
  margin-bottom:30px;
}

#PDFModal{
  height:95%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

#PDFModal .close{
  font-size:30px;
  margin-right: 15px;
  color: white;
  opacity: 1;
  margin-top: 5px;
}

.modal-body{
    background-color: #e7ecea;
}
.modal-content{
    height:auto;
    background-color: #e7ecea;
}

#wrap{
    padding:0;
    margin:0;
    width:100%;
}
#left_div{
    width:70%;
    display:inline-block;
}
#right_div{
    width:30%; 
    display:inline-block;   
    vertical-align:top;
}
#contentPDF {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}
#dataPDF {
    display: inline-block;
    overflow-y: auto;
    overflow-x: hidden;
}

#footer{
    height: 50px;
    color: var(--dark-color);
    font-size: 18px;
    text-align: center;
    padding: 13px;
    width:100%;
}

#footerPDF{
    text-align: right;
    position: relative;
    bottom: -10px;
    right: 10px;
}

#container-page {
    display: table;
    margin-top: 30px;
    width: 100%;
}

.layoutRow{
    display: inline-flex;
    width: 100%;
    margin-top: -30px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#menu > li  a:hover,
#Icon > a:hover {
    color: #999;    
}


body > .navbar-inverse{
    background-color:var(--dark-color);
}

#header-menu{
    height:80px;
    vertical-align:middle;
    border-bottom: none;
}

.navbar-header{
    margin-top:15px;
}

#menu-elem, #menu-elem2{
    height:75px;
}


#menu-elem > .elem-menu .glyphicon, #menu-elem2 > .elem-menu .glyphicon{
    float:left;
    line-height: 38px;
    text-align: center;
    font-size: 20px;
    margin-right:7px;
}

#menu-elem > .elem-menu a, #menu-elem2 > .elem-menu a{
    text-decoration:none;
    float:left;
    line-height: 45px;
    padding: 15px 15px 15px 20px ;
    text-align: center;
    font-size: 14px;
    color:White;
}


#menu-elem > .elem-menu  a:hover, #menu-elem2 > .elem-menu a:hover{
    color: var(--main-color);
    transition : all 0.7s;
}



#menu-elem > .elem-menu  a::after, #menu-elem2 > .elem-menu a::after,  #menu-elem > .elem-menu::after{
    content: '';
    display: block;
    margin: auto;
    height: 1px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
}


#menu-elem > .elem-menu :hover:after, #menu-elem2 > .elem-menu a:hover:after{
    width: 90%;
    background: var(--main-color);
}

#bar-menu{
  margin: 0 auto;
  padding: 5px 0;
}
    
.col-md-4 {
    text-align: center;
}

#Ic > img{
    height:120px;
    margin-top:-40px;
}

.navbar-brand:hover {
    color: #999;
}

.dropzone {
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: #FFF none repeat scroll 0% 0%;
    padding:100px;
}


.dropzone:hover {
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8) inset;
}

#test{
    
    border: 2px dashed #0087F7;
    border-radius: 5px;
    background: #FFF none repeat scroll 0% 0%;
    padding:100px;
}

img.previewPDF{
  height: 232px;
  margin-left: 8px;
  margin-top: 5px;
  float: left;
}
img.previewPDFImport{
    height: auto;
    width:150px;
}

.infoImport {
    vertical-align:middle;
}

.navbar .container{
    width:90%;
    max-width:90%;
    min-width:1200px;
}


@media (max-width: 768px) {
    .navbar .container {
        max-width: 750px;
        min-width:350px;
    }
}

.navbar .navbar-inverse{
    background-color:darkblue;
}



.infoFiche{
  width: 1050px;
  height: 182px;
  float: left;
}

.infoFiche ul{
    margin-top:5px;
    border-radius:5px;
    border-bottom-left-radius:10px;
    border-bottom-right-radius:10px;
    height:100%;
    padding-top: 5px;
    padding-left: 10px;
}

.content-listFiche{
    display:inline-block;
}

.infoFiche li{
    text-align:left;  
    color: #3f3731;
    list-style:none;
}

#Filter{
    text-align:left;
}

#contentFilter{
    display:inline-block;
    text-align:center;
    width:100%;
}

#Filter ul {
    list-style: none;
    width:100%;
    text-align:center;
    padding-left:0px;
}

#Filter ul li{
    list-style: none;
    display:inline-block;
}


.rightClip{
    background: url(../Images/clip-right.png) no-repeat right top;
    margin: 0;
    z-index: 1000;
    position:relative;
    top:100px;
    margin-left:40px;
    height:60px;
    width:100%;
}
.leftClip{
    background: url(../Images/clip-left.png) no-repeat left top;
    margin: 0;
    margin-left:-80px;
    position:relative;
    height:60px;
}

#contenu-page{
    display: table-cell;
  margin-top:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  width : 100%;
  background-image: url(/Images/content-bg.gif);
  height:auto;
}

#contenu-height{
    min-height:630px;
}

#border-left-page{
    display: table-cell;
  margin-top:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  width : 155px;
  background-image: url(/Images/content-bg.gif);

  border-right: 1px solid #f4f4f4;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
  box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
  height:auto;
}


#border-right-page{
    display: table-cell;
  margin-top:30px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-left-radius:0px;
  border-bottom-right-radius:0px;
  width : 155px;
  background-image: url(/Images/content-bg.gif);

  border-left: 1px solid #f4f4f4;
  -webkit-box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
  -moz-box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
  box-shadow: 0 0 6px rgba(0,0,0,0.5) inset;
  -webkit-transition: padding 0.5s ease;
  -moz-transition: padding 0.5s ease;
  transition: padding 0.5s ease;
  height:auto;
}


.post-it-note {
   background: #eeeeee;
   position: relative;
}

@media (max-width: 767px) {
    .post-it-note:after {
       content: "";
       position: absolute;
       bottom: -2.9em;
       left: -15px;
       right: 1.9em;
       border-width: 1.5em;
       border-style: solid;
       border-color: #eeeeee;
       margin-top:-5px;
    }
    .post-it-note:before {
       content: "";
       position: absolute;
       bottom: -2.9em;
       right: -15px;
       border-width: 3em 3em 0 0;
       border-style: solid;
       border-color: #d9d9d9 transparent;
      -webkit-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      -moz-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
    }
}

@media (min-width: 768px) {
    .post-it-note:after {
       content: "";
       position: absolute;
       bottom: -5.9em;
       left: -15px;
       right: 4.9em;
       border-width: 3em;
       border-style: solid;
       border-color: #eeeeee;
       margin-top:-5px;
    }
    .post-it-note:before {
       content: "";
       position: absolute;
       bottom: -5.9em;
       right: -15px;
       border-width: 6em 6em 0 0;
       border-style: solid;
       border-color: #d9d9d9 transparent;
      -webkit-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      -moz-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
    }
}
@media (min-width: 990px) {
    .post-it-note:after {
       content: "";
       position: absolute;
       bottom: -5.9em;
       left: -15px;
       right: 4.9em;
       border-width: 3em;
       border-style: solid;
       border-color: #eeeeee;
       margin-top:-5px;
    }
    .post-it-note:before {
       content: "";
       position: absolute;
       bottom: -5.9em;
       right: -15px;
       border-width: 6em 6em 0 0;
       border-style: solid;
       border-color: #d9d9d9 transparent;
      -webkit-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      -moz-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
    }
}
@media (min-width: 1200px) {
    .post-it-note:after {
       content: "";
       position: absolute;
       bottom: -5.9em;
       left: -15px;
       right: 4.9em;
       border-width: 3em;
       border-style: solid;
       border-color: #eeeeee;
       margin-top:-5px;
    }
    .post-it-note:before {
       content: "";
       position: absolute;
       bottom: -5.9em;
       right: -15px;
       border-width: 6em 6em 0 0;
       border-style: solid;
       border-color: #d9d9d9 transparent;
       z-index:1000;
      -webkit-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      -moz-box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
      box-shadow: -4px -4px 5px rgba(0,0,0,0.3), -4px -4px 4px rgba(0,0,0,0.2);
    }
}

.mini-box{
    background-color: #f2f2f2;
    border-radius:10px;
    padding-top:10px;
    border-style:solid;
    border-width:1px;
       -webkit-box-shadow: -8px 0 5px rgba(0,0,0,0.3), -8px -8px 5px rgba(0,0,0,0.3);
       -moz-box-shadow: -8px 0 5px rgba(0,0,0,0.3), -8px -8px 5px rgba(0,0,0,0.3);
       box-shadow: -8px 0 5px rgba(0,0,0,0.3), -8px -8px 5px rgba(0,0,0,0.3);
}

.titleTopPage{
    padding:10px;
    text-align:center;
    margin-left:5%;
    margin-right:5%;
}

#jumbo{
    margin-top:0px;
    padding-top:0px;
}


.content-slogan{
    padding:80px;
    font-family: Arial, Helvetica, sans-serif;
    height : 250px;
    color:white;
    background-color:transparent;
}

.Slogan{
    height : 100px;
}

blockquote > p{
    font-size: 30px;
}

#auteur{
    font-size: 15px;
    color:white;
}

blockquote {
    padding-right: 15px;
    padding-left: 0;
    border-right: 5px solid #eee;
    border-left: 0;
    text-align: right;
}

.sub-title {
    display: block;
    margin: 10px 0 0;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-size: 18.2px;
    line-height: 25.48px;
}
#fond::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background-color: rgba(0, 0, 0, 0.5);*/
}

.buttons > .btn-primary{
    background-color : var(--main-color);
    border-color : var(--main-color);
}

.buttons > .btn-primary:hover{
    background-color : rgb(255, 135, 60);
    border-color : rgb(255, 135, 60);
}



.dropdown2 {
  position: relative;
}


.dropdown2 dd,
.dropdown2 dt {
  margin: 0px;
  padding: 0px;
}

.dropdown2 ul {
  margin: -1px 0 0 0;
}

.dropdown2 dd {
  position: relative;
}

.dropdown2 a,
.dropdown2 a:visited {
  color: #fff;
  text-decoration: none;
  outline: none;
  font-size: 12px;
}

.dropdown2 dt a {
  background-color: #4F6877;
  display: block;
  padding: 8px 20px 5px 10px;
  min-height: 25px;
  line-height: 24px;
  overflow: hidden;
  border: 0;
  width: 272px;
}

.dropdown2 dt a span,
.multiSel span {
  cursor: pointer;
  display: inline-block;
  padding: 0 3px 2px 0;
}

.dropdown2 dd ul {
  background-color: #4F6877;
  border: 0;
  color: #fff;
  display: none;
  left: 0px;
  padding: 2px 15px 2px 5px;
  position: absolute;
  top: 2px;
  width: 280px;
  list-style: none;
  height: 100px;
  overflow: auto;
}

.dropdown2 span.value {
  display: none;
}

.dropdown2 dd ul li a {
  padding: 5px;
  display: block;
}

.dropdown2 dd ul li a:hover {
  background-color: #fff;
}

.choixSelected{
  margin-right: 5px;
}

#table{
  text-align:left;
  width:100%;
  height:55px;
  padding-left: 10px;
  padding-top:8px;
  overflow: auto;
  overflow-y: hidden;
  white-space: nowrap;
    display: inline-block;
}

.divSelected{
    display: inline;
}

.tableSelected{
    display: inline;
}

#IframePDF > html {
    border-bottom: 5px solid var(--dark-color);
}

#IframePDF > html::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}
#IframePDF > html::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
  height:10px;
}
#IframePDF > html::-webkit-scrollbar-thumb
{
  background-color: #F90; 
  background-image: -webkit-linear-gradient(45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent);
  border-radius: 10px;
}

#table::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#table::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
  height:10px;
}

#table::-webkit-scrollbar-thumb
{
  background-color: #F90; 
  background-image: -webkit-linear-gradient(45deg,
  rgba(255, 255, 255, .2) 25%,
  transparent 25%,
  transparent 50%,
  rgba(255, 255, 255, .2) 50%,
  rgba(255, 255, 255, .2) 75%,
  transparent 75%,
  transparent);
  border-radius: 10px;
}

.icon-remove:hover{
  cursor: pointer;
}

body .ui-icon::before, .ui-iggrid-collapsibleindicatorcontainer a .ui-iggrid-multiheader-collapsed::before, .ui-iggrid-collapsibleindicatorcontainer a .ui-iggrid-multiheader-expanded::before, .ui-iggrid-filtericon::before, .ui-iggrid-moving-indicator::before {
  left:48%;
}

body .ui-igcheckbox-small {
  width: 17px;
  height: 17px;
}

body .ui-igcombo-listitemtextwithcheckbox {
    margin-left: 20px;
    margin-right: 18px;
}


.btnFilter {
  clear: both;
  white-space: nowrap;
  font-size: .8em;
  display: inline-block;
  border-radius: 5px;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
  margin: 2px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
  overflow: hidden;
}

.btnFilter:hover {
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.45);
}

.btnFilter:focus {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.btnFilter > span, .btnFilter-icon > i {
  float:left;
  -webkit-transition:all .5s;
  -moz-transition:all .5s;
  transition:all .5s;
  line-height:1em
}

.btnFilter > span {
  padding:9px 15px 10px;
  white-space:nowrap;
  color:#FFF;
  background:#b8b8b8
}

.btnFilter:focus > span {
  background:#9a9a9a
}

.btnFilter-icon > i {
  border-radius: 5px 0 0 5px;
  position: relative;
  width: 24px;
  text-align: center;
  font-size: 17px;
  color: #fff;
  background: #212121;
  height: 30px;
  padding-top: 5px;
}

.btnFilter-icon > i:after {
  content:"";
  border:8px solid;
  border-color:transparent transparent transparent #222;
  position:absolute;
  top:8px;
  right:-15px
}

.btnFilter-icon:hover > i, .btnFilter-icon:focus > i {
  color:#FFF
}

.btnFilter-icon > span {
  border-radius:0 5px 5px 0
}

.btnFilter-filter:hover > i, .btnFilter-filter:focus > i {
  color:#dd4b39
}

.btnFilter-filter > span {
  background:#dd4b39
}

.box > h4 {
  margin-top: 5px;
  margin-bottom: 5px;
  height: 40px;
  width: 1217px;
  float: left;
  text-align: center;
  font-size: 28px;
}

.ribbon {
  width: 1936px;
  position: relative;
  text-align: center;
  font-size: 19px !important;
  background: #d64b4b;
  background: -webkit-gradient(linear, left top, left bottom, from(#d64b4b), to(#ab2c2c));
  background: -webkit-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -moz-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -ms-linear-gradient(top, #d64b4b, #ab2c2c);
  background: -o-linear-gradient(top, #d64b4b, #ab2c2c);
  background-image: -ms-linear-gradient(top, #d64b4b 0%, #ab2c2c 100%);
  -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
  font-family: 'Helvetica Neue',Helvetica, sans-serif;
  margin-left: -22px;
  margin-top: -32px;
 }

.ribbon h1 {
   font-size: 20px!important;
   color: #801111;
   text-shadow: #d65c5c 0 1px 0;
   margin:0px;
   padding: 2px 10px;
}

.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #c23a3a;
   z-index: -1;
 }

.ribbon:before {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  z-index: -1;
 }

.ribbon:after {
  left: -2em;
  border-right-width: 1.5em;
  border-left-color: transparent;
  -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
  z-index: -1;
}

.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
 border-color: #871616 transparent transparent transparent;
 position: absolute;
 display: block;
 border-style: solid;
 bottom: -1em;
 content: '';
 }

.ribbon .ribbon-content:before {
 left: 0;
 border-width: 1em 0 0 1em;
}

.ribbon .ribbon-content:after {
 right: 0;
 border-width: 1em 1em 0 0;
}

.ribbon-stitches-top {
  margin-top: 2px;
  border-top: 1px dashed rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
}

.ribbon-stitches-bottom {
 margin-bottom:2px;
 border-top: 1px dashed rgba(0, 0, 0, 0.2);
 -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
 -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
 box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
}



.post-module {
  position: relative;
  z-index: 1;
  display: block;
  background: #FFFFFF;
  min-width: 270px;
  height: 470px;
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.15);
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module:hover,
.hover {
}
.post-module:hover .apercu img,
.hover .apercu img{ 
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  transform: scale(1.1);
  opacity: 1;
  height: auto;
  width: 100%;
}

.post-module:hover .post-content{
    height: 100px;
    transition: height 0.2s ease-in;
}

.post-module:hover .description, .post-module:hover .post-meta{
    display: none;
}

.post-content{
  height:auto;
    transition: height 0.2s ease-out;
}


.post-module .apercu {
  background: #000000;
  height: 400px;
  overflow: hidden;
}
.post-module .apercu .date {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1;
  background: #e74c3c;
  width: 55px;
  height: 55px;
  padding: 12.5px 0;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
  color: #FFFFFF;
  font-weight: 700;
  text-align: center;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.post-module .apercu .date .day {
  font-size: 18px;
  margin-top: -8px;
}
.post-module .apercu .date .month {
  font-size: 12px;
  text-transform: uppercase;
}
.post-module .apercu img {
  display: block;
  width: 120%;
  opacity: .6;
  -webkit-transition: all 0.3s linear 0s;
  -moz-transition: all 0.3s linear 0s;
  -ms-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.post-module .post-content {
  position: absolute;
  bottom: 0;
  background: #FFFFFF;
  width: 100%;
  padding: 20px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -moz-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -ms-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  -o-transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
  transition: all 0.3s cubic-bezier(0.37, 0.75, 0.61, 1.05) 0s;
}
.post-module .post-content .category {
  position: absolute;
  top: -34px;
  left: 0;
  background: #e74c3c;
  padding: 10px 15px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 600;
  text-transform: uppercase;
}
.post-module .post-content .title {
  margin: 0;
  padding: 0 0 10px;
  color: #333333;
  font-size: 26px;
  font-weight: 700;
}
.post-module .post-content .sub_title {
  margin: 0;
  padding: 0 0 20px;
  color: #e74c3c;
  font-size: 20px;
  font-weight: 400;
}
.post-module .post-content .description {
  color: #666666;
  font-size: 14px;
  line-height: 1.8em;
}
.post-module .post-content .post-meta {
  margin: 30px 0 0;
  color: #999999;
}
.post-module .post-content .post-meta .timestamp {
  margin: 0 16px 0 0;
}
.post-module .post-content .post-meta .author .fa-user {
    margin: 0 16px 0 0;
    display: inline;
}
.post-module .post-content .post-meta .author {
    margin: 0 16px 0 0;
    display: inline-block;
}

.post-module .post-content .post-meta a {
  color: #999999;
  text-decoration: none;
}
.hover .post-content .description {
  display: block !important;
  height: auto !important;
  opacity: 1 !important;
}

#parent{
    text-align:center;
}

#indicateur > .indicateurTemp{
    position: relative;
    left:5px;
    top:400px;
    float:left;
    margin-bottom:450px;
    color: var(--main-color);
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #000, 1px 1px 1px #ffffff;
}

.day {
	position: relative;
    float: left;
    padding-right: 0px;
    font-size: 5em;
}

.month {
	transform: rotate(-90deg);
    position: absolute;
    padding: 1.3em 0px;
    left: 60px;
    font-size: 25px;
}

.year {
    position: absolute;
    padding-top: 62px;
    font-size: 3.2em;
    left: 1px;
}

.content-listFiche:before,
.content-listFiche:after {
  content: '';
  display: block;
  clear: both;
}
.content-listFiche .box {
  padding: 0 25px;
  -webkti-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.content-listFiche .box .demo-title {
  margin: 0 0 15px;
  color: #666666;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.content-listFiche .info {
  width: 300px;
  margin: 50px auto;
  text-align: center;
}
.content-listFiche .info h1 {
  margin: 0 0 15px;
  padding: 0;
  font-size: 24px;
  font-weight: bold;
  color: #333333;
}
.content-listFiche .info span {
  color: #666666;
  font-size: 12px;
}
.content-listFiche .info span a {
  color: #000000;
  text-decoration: none;
}
.content-listFiche .info span .fa {
  color: #e74c3c;
}

#Filter .ui-igcombo.ui-state-active .ui-igcombo-button, .ui-igcombo.ui-state-focus .ui-igcombo-button, #Filter .ui-igedit.ui-state-active .ui-igedit-button-common, #Filter .ui-igedit.ui-state-focus .ui-igedit-button-common {
    background-color: var(--second-color);
    border-color: var(--main-color);
}

#Filter .ui-igcombo-button.ui-state-active .ui-icon, .ui-igedit-button.ui-state-active .ui-icon, #Filter .ui-igedit.ui-state-active .ui-igedit-button-common .ui-icon, #Filter .ui-igedit.ui-state-focus .ui-igedit-button-common .ui-icon, #Filter .ui-iggrid .ui-igcombo-button.ui-state-active .ui-icon, #Filter .ui-state-active .ui-icon, #Filter .ui-state-active.ui-state-hover .ui-icon, #Filter .ui-state-hover.ui-state-highlight.ui-igcombo-button .ui-icon, #Filter .ui-state-hover.ui-state-highlight.ui-igedit-button .ui-icon {
    color: var(--main-color);
}

#Filter .ui-state-active {
    border: 1px solid var(--main-color);
    background-color: #e8e8e8;
    color: #444;
}

body .ui-igcombo-listitemholder li.ui-state-active {
    border: 1px solid var(--main-color);
    background-color: var(--second-color);
    color: #444;
}

body .ui-state-active .ui-icon{
  color: var(--main-color);
}

body .ui-state-active.ui-state-hover .ui-icon, body .ui-state-hover.ui-state-highlight.ui-igcombo-button .ui-icon, body .ui-state-hover.ui-state-highlight.ui-igedit-button .ui-icon, body .ui-igcombo-clear-hover.ui-state-hover{
  color: var(--second-color);
  background-color: var(--second-color);
}

.ribbonTemp {
  position: absolute;
  right: -5px; top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 75px; height: 75px;
  text-align: right;
}
.ribbonTemp span {
  font-size: 20px;
  font-weight: bold;
  color: #FFF;
  text-transform: uppercase;
  text-align: center;
  line-height: 20px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  width: 100px;
  display: block;
  background: #79A70A;
  background: linear-gradient(#E74C3C 0%, #FF5C4A 100%);
  box-shadow: 0 3px 10px -5px rgba(0, 0, 0, 1);
  position: absolute;
  top: 19px; right: -21px;
}
.ribbonTemp span::before {
  content: "";
  position: absolute; left: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid #FF5C4A;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FF5C4A;
}
.ribbonTemp span::after {
  content: "";
  position: absolute; right: 0px; top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #FF5C4A;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #FF5C4A;
}

#PDFDialog .modal-header {
    padding: 15px;
    border-bottom: 1px solid var(--dark-color);
    background-color: white;
    color: var(--dark-color);
    padding-bottom: 20px;
}

  /* Content */
.content-wrap {
  position: relative;
}

.content-wrap section {
  display: none;
  margin: 0 auto;
  padding: 1em;
  max-width: 1200px;
  text-align: center;
}

.content-wrap section.content-current {
  display: block;
}

.content-wrap section p {
  margin: 0;
  padding: 0.75em 0;
  color: rgba(40,44,42,0.05);
  font-weight: 900;
  font-size: 4em;
  line-height: 1;
}

#PDFModal .modal-body {
    padding : 0;
}

.tabs {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
    font-weight: 300;
    font-size: 1.25em;
    height: 115px;
}

    /* Nav */
    .tabs nav {
        text-align: center;
    }

        .tabs nav ul {
            position: relative;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: -moz-flex;
            display: -ms-flex;
            display: flex;
            margin: 0 auto;
            padding: 0;
            max-width: 1200px;
            list-style: none;
            -ms-box-orient: horizontal;
            -ms-box-pack: center;
            -webkit-flex-flow: row wrap;
            -moz-flex-flow: row wrap;
            -ms-flex-flow: row wrap;
            flex-flow: row wrap;
            -webkit-justify-content: center;
            -moz-justify-content: center;
            -ms-justify-content: center;
            justify-content: center;
        }

            .tabs nav ul li {
                position: relative;
                z-index: 1;
                display: block;
                margin: 0;
                text-align: center;
                -webkit-flex: 1;
                -moz-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }

        .tabs nav a {
            position: relative;
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            line-height: 2.5;
        }

            .tabs nav a span {
                vertical-align: middle;
                font-size: 0.75em;
            }

        .tabs nav li.tab-current a, .tabs nav li.tab-current a span {
            color: #74777b;     
        }

        .tabs nav a:focus {
            outline: none;
        }

/* Icons */
.icon::before {
    z-index: 10;
    display: inline-block;
    margin: 0 0.4em 0 0;
    vertical-align: middle;
    text-transform: none;
    font-weight: normal;
    font-variant: normal;
    font-size: 1.3em;
    font-family: 'stroke7pixeden';
    line-height: 1;
    speak: none;
    -webkit-backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-upload::before {
    content: "\e68a";
}

.icon-tools::before {
    content: "\e60a";
}

.icon-plane::before {
    content: "\e625";
}

.icon-joy::before {
    content: "\e6a4";
}

.icon-plug::before {
    content: "\e69a";
}

.icon-home::before {
    content: "\e648";
}

.icon-gift::before {
    content: "\e652";
}

.icon-display::before {
    content: "\e65e";
}

.icon-date::before {
    content: "\e660";
}

.icon-config::before {
    content: "\e666";
}

.icon-coffee::before {
    content: "\e669";
}

.icon-camera::before {
    content: "\e66f";
}

.icon-box::before {
    content: "\e674";
}

/* Content */
.content-wrap {
    position: relative;
}

    .content-wrap section {
        display: none;
        margin: 0 auto;
        padding: 1em;
        max-width: 1200px;
        text-align: center;
    }

        .content-wrap section.content-current {
            display: block;
        }

        .content-wrap section p {
            margin: 0;
            padding: 0.75em 0;
            color: rgba(40,44,42,0.05);
            font-weight: 900;
            font-size: 4em;
            line-height: 1;
        }

/* Fallback */
.no-js .content-wrap section {
    display: block;
    padding-bottom: 2em;
    border-bottom: 1px solid rgba(255,255,255,0.6);
}

.no-flexbox nav ul {
    display: block;
}

    .no-flexbox nav ul li {
        min-width: 15%;
        display: inline-block;
    }

@media screen and (max-width: 58em) {
    .tabs nav a.icon span {
        display: none;
    }

    .tabs nav a:before {
        margin-right: 0;
    }
}

/*****************************/
/* Triangle and line */
/*****************************/

.tabs-style-linetriangle nav a {
    overflow: visible;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.tabs-style-linetriangle nav a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1em;
}
.tabs-style-linetriangle nav li.tab.active a span.ic-container {
    font-size: 25px;
    color: #6d55a8;
}

.tabs-style-linetriangle nav li.tab a span.ic-container {
    font-size: 25px;
}

.tabs-style-linetriangle nav li.tab.active a:after,
.tabs-style-linetriangle nav li.tab.active a:before {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 0;
    height: 0;
    border: solid transparent;
    content: '';
    pointer-events: none;
}

.tabs-style-linetriangle nav li.tab.active a:after {
    margin-left: -10px;
    border-width: 10px;
    border-top-color: #e7ecea;
}

.tabs-style-linetriangle nav li.tab.active a:before {
    margin-left: -11px;
    border-width: 11px;
    border-top-color: rgba(0,0,0,0.2);
}

@media screen and (max-width: 58em) {
    .tabs-style-linetriangle nav {
        font-size: 0.6em;
    }
}

.ui-igcombo.ui-widget.ui-state-default.ui-corner-all.ui-unselectable {
    border: 0;
    border-radius: 0px;
}

    .ui-igcombo.ui-widget.ui-state-default.ui-corner-all.ui-unselectable .ui-igcombo-button {
        border: 0;
        border-radius: 0px;
        background: none;
        background-color: white;
    }

#Google {
    color: #db4437;
}
    #Google:hover {
        color: white;
        background-color: #db4437;
        border-color: #db4437;
    }

#Facebook {
    color: #4867AA;
}
    #Facebook:hover {
        color: white;
        background-color: #4867AA;
        border-color: #4867AA;
    }

#Twitter {
    color: #1DA1F2;
}
    #Twitter:hover {
        color: white;
        background-color: #1DA1F2;
        border-color: #1DA1F2;
    }


