@{
    ViewBag.Title = "Import";
}



<link rel="stylesheet" href="https://blueimp.github.io/Gallery/css/blueimp-gallery.min.css">
<link rel="stylesheet" href="~/Content/jquery.fileupload.css">
<link rel="stylesheet" href="~/Content/jquery.fileupload-ui.css">

<script>
    var Matiere_List2 = [
["Francais", "Maths", "Anglais", "Decouverte du monde", "Sport", "Instruction civique et morale", "Pratique et histoire des arts", "Jeux educatifs", "Outils", "Evenements de l'annee"],
["Francais", "Maths", "Anglais", "Decouverte du monde", "Sport", "Instruction civique et morale", "Pratique et histoire des arts", "Jeux educatifs", "Outils", "Evenements de l'annee"],
["Francais", "Maths", "Anglais", "Geographie", "Sport", "Instruction civique et morale", "Pratique et histoire des arts", "Sciences", "Histoire", "Jeux educatifs", "Evenements de l'annee", "Outils"],
["Francais", "Maths", "Anglais", "Geographie", "Sport", "Instruction civique et morale", "Pratique et histoire des arts", "Sciences", "Histoire", "Jeux educatifs", "Evenements de l'annee", "Outils"],
["Francais", "Maths", "Anglais", "Geographie", "Sport", "Instruction civique et morale", "Pratique et histoire des arts", "Sciences", "Histoire", "Jeux educatifs", "Evenements de l'annee", "Outils"],
    ];

    var Theme_List_CP_CE1 = [
    ["Lecture", "Grammaire", "Conjugaison", "Orthographe", "Vocabulaire", "Language oral", "Ecriture", "Redaction", "Devenir lecteur", "Litterature de jeunesse", "Outils : Francais"],
    ["Numeration", "Calculs", "Geometrie", "Grandeurs et mesures", "Organisation des donnees", "Outils : Mathematiques"],
    ["Langue anglaise", "Images / flash cards", "Civilisation anglaise", "Themes du quotidien", "Outils : anglais"],
    ["Le temps", "Le developpement durable", "L'espace", "Le vivant (anatomie)", "Le vivant (etre vivants)", "La matiere", "Objets", "TIC", "Outils : Decouverte du monde"],
    ["Realiser une performance", "Adapter ses deplacements", "Cooperer et s'opposer", "Actions esthetiques", "Outils : EPS"],
    ["Principes de la morale", "Regles de vie collectives", "Education a la sante", "Education a la securite", "Veme Republique", "Union Europeenne", "Commerations et fetes", "Outils : instruction civique"],
    ["Arts visuels", "Education musicale", "Histoire des arts", "Outils : arts"],
    ["Jeux de francais", "Jeux de mathematiques", "Jeux de sciences", "Jeux pour l'histoire", "Jeux de geographie", "Jeux d'anglais", "Jeux d'arts visuels"],
    ["Outils pour la classe", "Travail en autonomie", "Logiciels"],
    ["Noel", "Evenements annuels", "Automne", "Hiver", "Printemps", "Ete"],
    ];

    var Theme_List_CE2_CM1_CM2 = [
    ["Lecture", "Grammaire", "Conjugaison", "Orthographe", "Vocabulaire", "Language oral", "Ecriture", "Redaction", "Devenir lecteur", "Litterature de jeunesse", "Outils : Francais"],
    ["Numeration", "Calculs", "Geometrie", "Grandeurs et mesures", "Organisation des donnees", "Outils : Mathematiques"],
    ["Langue anglaise", "Images / flash cards", "Civilisation anglaise", "Themes du quotidien", "Outils : anglais"],
    ["Geographie locale", "Territoire fancais dans l'UE", "Produire en France", "Population fancaise dans l'UE", "Se deplacer en Europe", "France dans le monde", "Outils : Geographie"],
    ["Realiser une performance", "Adapter ses deplacements", "Cooperer et s'opposer", "Actions esthetiques", "Outils : EPS"],
    ["Principes de la morale", "Regles de vie collectives", "Education a la sante", "Education a la securite", "Veme Republique", "Union Europeenne", "Commerations et fetes", "Outils : instruction civique"],
    ["Arts visuels", "Education musicale", "Histoire des arts", "Outils : arts"],
    ["Objets", "Le developpement durable", "La matiere", "Le Ciel et la Terre", "Le vivant (anatomie)", "Le vivant (etre vivants)", "TIC", "Outils : Sciences"],
    ["Prehistoire", "Antiquite", "Moyen-Age", "Temps modernes", "Revolution et XIXeme siecle", "XXeme siecle", "Outils : Histoire"],
    ["Jeux de francais", "Jeux de mathematiques", "Jeux de sciences", "Jeux pour l'histoire", "Jeux de geographie", "Jeux d'anglais", "Jeux d'arts visuels"],
    ["Noel", "Evenements annuels", "Automne", "Hiver", "Printemps", "Ete"],
    ["Outils pour la classe", "Travail en autonomie", "Logiciels"],
    ];
</script>

<!--asp-controller="import" asp-action="Upload"-->
<div class="titleTopPage">
    <h2><strong style="color:#E95325;">D</strong>épôt de fiche de cours</h2>
    <h3>Vous pouvez déposer vos fiches au format PDF</h3>
</div>
<form class="" id="fileupload" method="POST" enctype="multipart/form-data">
    <!-- Redirect browsers with JavaScript disabled to the origin page -->
    <noscript><input type="hidden" name="redirect" value="https://blueimp.github.io/jQuery-File-Upload/"></noscript>
    <!-- The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload -->
    <div class="row fileupload-buttonbar">
        <div class="col-lg-9">
            <!-- The fileinput-button span is used to style the file input field as button -->
            <span class="fileinput-button ui-button btn-success ui-widget ui-state-default ui-corner-all ui-button-text-icon-primary">
                <span>Ajouter des fiches...</span>
                <input name="files[]" multiple="" type="file">
            </span>
            <button type="submit" class="btn btn-primary start">
                <span>Démarrer l'envoi</span>
            </button>
            <button type="reset" class="btn btn-warning cancel">
                <span>Annuler les envois</span>
            </button>
            <button type="button" class="btn btn-danger delete">
                <span>Supprimer</span>
            </button>
            <input class="toggle" type="checkbox">
            <!-- The global file processing state -->
            <span class="fileupload-process"></span>
        </div>
        <!-- The global progress state -->
        <div class="col-lg-5 fileupload-progress fade">
            <!-- The global progress bar -->
            <div aria-valuenow="0" class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100">
                <div class="progress-bar progress-bar-success" style="width: 0%;"></div>
            </div>
            <!-- The extended global progress state -->
            <div class="progress-extended">&nbsp;</div>
        </div>
    </div>
    <!-- The table listing the files available for upload/download -->
    <table role="presentation" class="table table-striped"><tbody class="files"></tbody></table>
</form>

<!-- The template to display files available for download -->
<script id="template-upload" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade in">
        <td>
            <span class="preview"></span>
        </td>
        <td>
            <p class="name">{%=file.name%}</p>
            <strong class="error text-danger"></strong>
        </td>
        <td class="niveau">
            <label>
                Niveau: <select id="niv_{%=file.name%}" class="{%=file.name%}" name="niveau" onchange="Matiere_change(this.selectedIndex, 'niv_{%=file.name%}', 'mat_{%=file.name%}', 'the_{%=file.name%}')" required>
                <option>CP</option>
                <option>CE1</option>
                <option>CE2</option>
                <option>CM1</option>
                <option>CM2</option>
            </select>
            </label>
        </td>
        <td>
            <strong class="error text-danger"></strong>
        </td>
        <td class="matiere">
            <label>
                Matiere: <select id="mat_{%=file.name%}" class="{%=file.name%}" name="matiere" onchange="Theme_change(this.selectedIndex, 'niv_{%=file.name%}', 'mat_{%=file.name%}','the_{%=file.name%}')" required></select>
            </label>
        </td>
        <td>
            <strong class="error text-danger"></strong>
        </td>
        <td class="theme">
            <label>
                Thème: <select id="the_{%=file.name%}" class="{%=file.name%}" name="theme" onchange="InitValue(this.selectedIndex, 'niv_{%=file.name%}', 'mat_{%=file.name%}', 'the_{%=file.name%}')" required></select>
            </label>
        </td>
        <td>
            <strong class="error text-danger"></strong>
        </td>
        <td class="description">
            <label>
                Déscription: <textarea id="desc_{%=file.name%}" class="{%=file.name%}" name="description" required></textarea>
            </label>
        </td>
        <td>
            <strong class="error text-danger"></strong>
        </td>
        <td>
            <p class="size">Processing...</p>
            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
        </td>
        <td>
            {% if (!i && !o.options.autoUpload) { %}
            <button class="btn btn-primary start" disabled>
                <i class="glyphicon glyphicon-upload"></i>
                <span>Start</span>
            </button>
            {% } %}
            {% if (!i) { %}
            <button class="btn btn-warning cancel">
                <i class="glyphicon glyphicon-ban-circle"></i>
                <span>Cancel</span>
            </button>
            {% } %}
        </td>
    </tr>
    {% } %}
</script>
<!-- The template to display files available for download -->
<script id="template-download" type="text/x-tmpl">
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade in">
        <td>
            <span class="preview">
                {% if (file.thumbnailUrl) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" class="previewPDFImport"></a>
                {% } %}
            </span>
        </td>
        <td>
            <p class="name">
                {% if (file.url) { %}
                <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
                {% } else { %}
                <span>{%=file.name%}</span>
                {% } %}
            </p>
            {% if (file.error) { %}
            <div><span class="label label-danger">Error</span> {%=file.error%}</div>
            {% } %}
        </td>
        <td class="infoImport">
            <span class="niveau">Niveau :{%=file.niveau%}</span>
        </td>
        <td class="infoImport">
            <span class="matiere">Matière :{%=file.matiere%}</span>
        </td>
        <td class="infoImport">
            <span class="theme">Thème :{%=file.theme%}</span>
        </td>
        <td class="infoImport">
            <span class="description">Description :{%=file.description%}</span>
        </td>
        <td class="infoImport">
            <span class="size">{%=o.formatFileSize(file.size)%}</span>
        </td>
        <td></td>
    </tr>
    {% } %}

</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
<script src="~/Scripts/jquery.ui.widget.js"></script>
<!-- The Templates plugin is included to render the upload/download listings -->
<script src="https://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js"></script>
<!-- The Load Image plugin is included for the preview images and image resizing functionality -->
<script src="https://blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js"></script>
<!-- The Canvas to Blob plugin is included for image resizing functionality -->
<script src="https://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js"></script>
<!-- blueimp Gallery script -->
<script src="https://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js"></script>
<!-- The Iframe Transport is required for browsers without support for XHR file uploads -->
<script src="~/Scripts/jquery.iframe-transport.js"></script>
<!-- The basic File Upload plugin -->
<script src="~/Scripts/jquery.fileupload.js"></script>
<!-- The File Upload processing plugin -->
<script src="~/Scripts/jquery.fileupload-process.js"></script>
<!-- The File Upload image preview & resize plugin -->
<script src="~/Scripts/jquery.fileupload-image.js"></script>
<!-- The File Upload audio preview plugin -->
<script src="~/Scripts/jquery.fileupload-audio.js"></script>
<!-- The File Upload video preview plugin -->
<script src="~/Scripts/jquery.fileupload-video.js"></script>
<!-- The File Upload validation plugin -->
<script src="~/Scripts/jquery.fileupload-validate.js"></script>
<!-- The File Upload user interface plugin -->
<script src="~/Scripts/jquery.fileupload-ui.js"></script>
<!-- The File Upload jQuery UI plugin -->
<script src="~/Scripts/jquery.fileupload-jquery-ui.js"></script>


<script>

    $('#fileupload').bind('fileuploadadded', function (e, data) {
        var sel = data.files[0].name;
        Matiere_change(0, "niv_" + sel, "mat_" + sel, "the_" + sel);
    })

    $('#fileupload').bind('fileuploadsubmit', function (e, data) {
        var sel = data.files[0].name;
        //var inputs = $(".dataFile_" + sel);
        var inputs = data.context.find('select, textarea').prop('class', sel);
        data.formData = inputs.serializeArray();
    });

    $('#fileupload').fileupload({
        url: '/FicheCours/Upload',
        dataType: 'json',
        limitMultiFileUploadSize: 99999999,
        singleFileUploads: true,
        disableImageResize: /Android(?!.*Chrome)|Opera/
            .test(window.navigator && navigator.userAgent),
        imageMaxWidth: 150,
        imageMaxHeight: 150,
        imageCrop: true,
        success: function (response) {
            for (var i = 0; i < response.length; i++) {
                var obj = res[i];
                for (var key in obj) {
                    var attrName = key;
                    var attrValue = obj[key];
                }
            }
        },
        error: function (error) {
            console.log(error);
        }
    });

    function Matiere_change(idx, id_niv, id_mat, id_the) {
        var select_niv = document.getElementById(id_niv);
        var select_mat = document.getElementById(id_mat);
        for (var i = 0; i < Matiere_List2[idx].length; i++) {
            select_mat.options[i] = new Option(Matiere_List2[idx][i], i);
        }
        var liste_Mat = Matiere_List2[select_niv.selectedIndex];
        var nom = liste_Mat[select_mat.selectedIndex];
        select_mat[select_mat.selectedIndex].value = nom;
        select_mat[select_mat.selectedIndex].value = select_mat[select_mat.selectedIndex].value.split(" ").join("_");
        Theme_change(0, id_niv, id_mat, id_the);
    }

    function Theme_change(idx, id_niv, id_mat, id_the) {
        var select_niv = document.getElementById(id_niv);
        var select_mat = document.getElementById(id_mat);
        var select_the = document.getElementById(id_the);
        
        
        var liste_Mat = Matiere_List2[select_niv.selectedIndex];
        var nom = liste_Mat[select_mat.selectedIndex];
        select_mat[select_mat.selectedIndex].value = nom;
        select_mat[select_mat.selectedIndex].value = select_mat[select_mat.selectedIndex].value.split(" ").join("_");

        switch (select_niv.value) {
            case "CP":
                Theme_CP(idx, id_the);
                break;
            case "CE1":
                Theme_CE1(idx, id_the);
                break;
            case "CE2":
                Theme_CE2(idx, id_the);
                break;
            case "CM1":
                Theme_CM1(idx, id_the);
                break;
            case "CM2":
                Theme_CM2(idx, id_the);
                break;
            default:
                break;
        }
        InitValue(select_the.selectedIndex, id_niv, id_mat, id_the);
    }

    function InitValue(idx, id_niv, id_mat, id_the) {
        var select_niv = document.getElementById(id_niv);
        var select_mat = document.getElementById(id_mat);
        var select_the = document.getElementById(id_the);
        switch (select_niv.value) {
            case "CP":
                var liste_Theme = Theme_List_CP_CE1[select_mat.selectedIndex];
                var nom = liste_Theme[idx];
                nom = nom.split(" ").join("_");
                select_the[idx].value = nom;
                break;
            case "CE1":
                var liste_Theme = Theme_List_CP_CE1[select_mat.selectedIndex];
                var nom = liste_Theme[idx];
                nom = nom.split(" ").join("_");
                select_the[idx].value = nom;
                break;
            case "CE2":
                var liste_Theme = Theme_List_CE2_CM1_CM2[select_mat.selectedIndex];
                var nom = liste_Theme[idx];
                nom = nom.split(" ").join("_");
                select_the[idx].value = nom;
                break;
            case "CM1":
                var liste_Theme = Theme_List_CE2_CM1_CM2[select_mat.selectedIndex];
                var nom = liste_Theme[idx];
                nom = nom.split(" ").join("_");
                select_the[idx].value = nom;
                break;
            case "CM2":
                var liste_Theme = Theme_List_CE2_CM1_CM2[select_mat.selectedIndex];
                var nom = liste_Theme[idx];
                nom = nom.split(" ").join("_");
                select_the[idx].value = nom;
                break;
            default:
                break;
        }
    }

    function Theme_CP(idx, id_the) {
        var select_the = document.getElementById(id_the);
        select_the.options.length = null;
        for (var i = 0; i < Theme_List_CP_CE1[idx].length; i++) {
            select_the.options[i] = new Option(Theme_List_CP_CE1[idx][i], i);
        }
    }
    function Theme_CE1(idx, id_the) {
        var select_the = document.getElementById(id_the);
        select_the.options.length = null;
        for (var i = 0; i < Theme_List_CP_CE1[idx].length; i++) {
            select_the.options[i] = new Option(Theme_List_CP_CE1[idx][i], i);
        }
    }
    function Theme_CE2(idx, id_the) {
        var select_the = document.getElementById(id_the);
        select_the.options.length = null;
        for (var i = 0; i < Theme_List_CE2_CM1_CM2[idx].length; i++) {
            select_the.options[i] = new Option(Theme_List_CE2_CM1_CM2[idx][i], i);
        }
    }
    function Theme_CM1(idx, id_the) {
        var select_the = document.getElementById(id_the);
        select_the.options.length = null;
        for (var i = 0; i < Theme_List_CE2_CM1_CM2[idx].length; i++) {
            select_the.options[i] = new Option(Theme_List_CE2_CM1_CM2[idx][i], i);
        }
    }
    function Theme_CM2(idx, id_the) {
        var select_the = document.getElementById(id_the);
        select_the.options.length = null;
        for (var i = 0; i < Theme_List_CE2_CM1_CM2[idx].length; i++) {
            select_the.options[i] = new Option(Theme_List_CE2_CM1_CM2[idx][i], i);
        }
    }

</script>
