@model ProfProPartage.ViewModel.ViewModelFicheCoursList

@{
    ViewData["Title"] = "Mes Fiches";
    ViewData["user"] = "Mes Fiches";
}

<div id="title" class="main-title"><h1><strong style="color:#E95325;">M</strong>es fiches - Liste de vos documents</h1></div>
<div class="block-breadcrumb">
    <div class="horizontal-scroll">
        <ul class="breadcrumb">
            <li><a href="/Home/Dashboard"><i class="icon ic-breadcrumb-dashboard"></i>Tableau de bord</a></li>
            <li class="active">Aide - Une question ?</li>
        </ul>
    </div>
</div>
</br>

<div id="Filter">
    <div id="contentFilter">
        <div class="spacer"></div>
        <div id="checkboxSelectComboNiv"></div>
        <div id="checkboxSelectComboMat"></div>
        <div id="checkboxSelectComboThe"></div>

        <div id="itemData">
            <div id="table">
                <ul id="tableNiv" class="tableSelected"></ul>
                <ul id="tableMat" class="tableSelected"></ul>
                <ul id="tableThe" class="tableSelected"></ul>
            </div>
        </div>
    </div>
</div>
<div class="content-listFiche">
    <div class="col-md-12">
        <div class="spacer"></div>

        <div id="parent">
            @Html.Partial("listMesFiches", Model.ListFic)
        </div>
        
        <div class="modal fade" id="PDFViewer" tabindex="-1" role="dialog" aria-labelledby="PDFViewerLabel" aria-hidden="true" style="display: none;">
            <div id="PDFDialog" class="modal-dialog">
                <div id="PDFModal" class="modal-content" style="height: 543px;">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="PDFViewerLabel">eval</h4>
                    <div class="modal-body">
                        <div class="tabs tabs-style-linetriangle">
                            <nav>
                                <ul>
                                    <li class="tab active">
                                        <a href="#pdfDoc" data-toggle="tab">
                                            <span class="ic-container"><i class="fa fa-file-pdf-o"></i></span>
                                            <span>Fiche PDF</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#pdfData" data-toggle="tab">
                                            <span class="ic-container"><i class="fa fa-pie-chart"></i></span>
                                            <span>Métadonnées</span>
                                        </a>
                                    </li>
                                    <li class="tab">
                                        <a href="#pdfAuthor" data-toggle="tab">
                                            <span class="ic-container"><i class="fa fa-vcard"></i></span>
                                            <span>Description</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <div class="modal-header">
                            <div id="wrap">
                                <div class="tab-content">
                                    <div id="pdfDoc" class="tab-pane active">
                                        <div id="IframePDF">
                                            <iframe></iframe>
                                        </div>
                                    </div>
                                    <div id="pdfData" class="tab-pane">
                                        <div id="dataPDF">
                                            <div class="row">
                                                <div class="col-lg-9 col-md-8 col-sm-8 col-xs-12">
                                                    <section class="block block-table-datas">
                                                        <h2 class="block-title">Popularité</h2>
                                                        <div class="horizontal-scroll">
                                                            <div class="datas-table">
                                                                <table class="table no-hover-table">
                                                                    <colgroup>
                                                                        <col>
                                                                        <col class="w-28">
                                                                        <col>
                                                                    </colgroup>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="percircle-col">
                                                                                <div id="thermostat" data-percent="50" class="percircle p70"></div>

                                                                            </td>
                                                                            <td class="v-align-middle">
                                                                                <p class="data-value">Nombre de téléchargement</p>
                                                                                <p id="NbrDDL" class="data-detail"></p>
                                                                            </td>
                                                                            <td class="v-align-middle">
                                                                                <p class="data-value">Date d'ajout du fichier</p>
                                                                                <p id="dateAjout" class="data-detail"></p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                         </div>
                                                    </section>
                                                    <section class="block block-table-datas">
                                                        <h2 class="block-title">Informations Fiche</h2>
                                                        <div class="horizontal-scroll">
                                                            <div class="datas-table">
                                                                <table class="table no-hover-table">
                                                                    <colgroup>
                                                                        <col>
                                                                        <col class="w-28">
                                                                        <col>
                                                                    </colgroup>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="location-col" style="font-size: 45px; color: #6d55a8;">
                                                                                <i class="glyphicon glyphicon-file"></i>
                                                                            </td>
                                                                            <td class="address-col">
                                                                                <p class="data-value">Brico-Vence</p>
                                                                                <p class="data-detail">
                                                                                    800 avenue Rhin et Danube<br>
                                                                                    06140 Vence
                                                                                </p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Siret</p>
                                                                                <p class="data-detail nowrap">493974208 00024</p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </section>
                                                    <section class="block block-table-infos">
                                                        <h2 class="block-title">Infomations sur l’affaire</h2>
                                                        <div class="horizontal-scroll">
                                                            <div class="datas-table">
                                                                <table class="table">
                                                                    <colgroup>
                                                                        <col>
                                                                        <col class="w-30">
                                                                        <col class="w-30">
                                                                        <col>
                                                                    </colgroup>
                                                                    <tbody>
                                                                        <tr>
                                                                            <td class="icon-col">
                                                                                <span class="icon-wrapper"><i class="fa fa-info" aria-hidden="true"></i></span>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value nowrap">N° 201704-Aff-443010</p>
                                                                                <p class="data-detail">Créée le 25/04/2017</p>
                                                                                <p class="data-detail">Par Hajar Badr Halabi</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Marché</p>
                                                                                <p class="data-detail">Bureautique</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Type d’affaire</p>
                                                                                <p class="data-detail">Evolution du contrat 214L29305</p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="icon-col">
                                                                                <span class="icon-wrapper"><i class="fa fa-align-right" aria-hidden="true"></i></span>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Poduit de location</p>
                                                                                <p class="data-detail">Location</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Document contractuel choisi</p>
                                                                                <p class="data-detail">eContrat</p>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="icon-col">
                                                                                <span class="icon-wrapper"><i class="fa fa-calendar-o" aria-hidden="true"></i></span>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Mois prévisionnel d’installation</p>
                                                                                <p class="data-detail">08/2017</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Calage demandé</p>
                                                                                <p class="data-detail">1 Mois</p>
                                                                            </td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="icon-col">
                                                                                <span class="icon-wrapper"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Périodicité</p>
                                                                                <p class="data-detail">Mensuelle</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Terme des loyers</p>
                                                                                <p class="data-detail">À échoir</p>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Mode de réglement</p>
                                                                                <p class="data-detail">Prélèvement automatique</p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td class="icon-col">
                                                                                <span class="icon-wrapper"><i class="fa fa-eur" aria-hidden="true"></i></span>
                                                                            </td>
                                                                            <td>
                                                                                <p class="data-value">Montant total à financer&nbsp;: <span class="nowrap">10 000 € H.T.</span></p>
                                                                            </td>
                                                                            <td></td>
                                                                            <td></td>
                                                                        </tr>
                                                                        <tr class="sub-row">
                                                                            <td class="icon-col"></td>
                                                                            <td>
                                                                                <p class="data-value">Durée sélectionnée</p>
                                                                                <p class="data-detail">48 mois</p>
                                                                            </td>
                                                                            <td colspan="2">
                                                                                <p class="data-value">Loyer total&nbsp;: <span class="nowrap">350 € H.T.</span></p>
                                                                                <p class="data-detail montant">Montant VFNA&nbsp;: <span class="nowrap">40 € H.T.</span></p>
                                                                            </td>
                                                                        </tr>
                                                                        <tr class="sub-row">
                                                                            <td class="icon-col"></td>
                                                                            <td>
                                                                                <p class="data-value">Durée sélectionnée</p>
                                                                                <p class="data-detail">60 mois</p>
                                                                            </td>
                                                                            <td colspan="2">
                                                                                <p class="data-value">Loyer total&nbsp;: <span class="nowrap">320 € H.T.</span></p>
                                                                                <p class="data-detail montant">Montant VFNA&nbsp;: <span class="nowrap">40 € H.T.</span></p>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </section>
                                                </div>
                                                <aside class="col-lg-3 col-md-4 col-sm-4 col-xs-12 sidebar">
                                                    <div class="block block-infos">
                                                        <h2 class="title">Informations complémentaires</h2>
                                                        <dl class="list-infos">
                                                            <dt class="info-title">Montant encours externe intégré</dt>
                                                            <dd class="info-detail nowrap">1 200,00 € H.T. (10%)</dd>
                                                            <dt class="info-title">Montant encours Leasecom intégré</dt>
                                                            <dd class="info-detail nowrap">800,00 € H.T. (7%)</dd>
                                                            <dt class="info-title">Montant maximal des services d'installation</dt>
                                                            <dd class="info-detail nowrap">250,00 € H.T. (4%)</dd>
                                                            <dt class="info-title">Editeurs On Premises</dt>
                                                            <dd class="info-detail">
                                                                Futurosoft<br>
                                                                Application logiciel pour ingénierie
                                                            </dd>
                                                            <dt class="info-title">Editeurs Saas</dt>
                                                            <dd class="info-detail">
                                                                <p>Adobe Systems France SAS</p>
                                                                <p class="precision"><em>Le montant des logiciels en mode Saas est inférieur à 30% du montant total à financer</em></p>
                                                            </dd>
                                                            <dt class="info-title">Montant rachat Partenaire fin de contrat</dt>
                                                            <dd class="info-detail nowrap">2 400,00 € H.T. (20%)</dd>
                                                            <dt class="info-title">Commissionnement apport affaire</dt>
                                                            <dd class="info-detail nowrap">800,00 € H.T. (7%)</dd>
                                                        </dl>
                                                    </div>
                                                </aside>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="pdfAuthor" class="tab-pane">
                                        <div id="contentPDF"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="footerPDF">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        <a id="btnDownload" class="btn btn-primary" download="" href="/Files/eval_CE2_conj_present.pdf">Download</a>
                    </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
    </div>
</div>
