@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    <li class="nav-top-item">
        <a class="nav-top-link" href="Manage/Index">
            <span class="visible-desktop">Bonjour @User.Identity.GetUserName()</span>
            <i class="icon ic-account"></i><span class="notification"></span>
        </a>
    </li>
    <li class="nav-top-item">
        @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "nav-top-link" }))
        {
        @Html.AntiForgeryToken()
        <a href="javascript:document.getElementById('logoutForm').submit()"><i class="glyphicon glyphicon-off" style="font-size:22px; height:27px; vertical-align: middle;"></i></a>
        }
    </li>
}   
else
{
<li class="nav-top-item"><a class="nav-top-link" href="@Url.Action("Register","Account", new { @id = "registerLink"})"><span class="elem glyphicon glyphicon-floppy-open" style="font-size:22px; height:27px; vertical-align: middle; margin-right:7px;"></span>S'inscrire</a></li>
<li class="nav-top-item"><a class="nav-top-link" href="@Url.Action("Login","Account", new { @id = "loginLink"})"><span class="elem glyphicon glyphicon-user" style="font-size:22px; height:27px; vertical-align: middle; margin-right:7px;"></span>Se connecter</a></li>
}