@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Bonjour " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul id="menu-elem2" class="nav navbar-nav navbar-right">
        <li class="elem-menu"><a class="elem" href="@Url.Action("Register","Account", new { @id = "registerLink"})"><span class="elem glyphicon glyphicon-floppy-open"></span>S'enregistrer</a></li>
        <li class="elem-menu"><a class="elem" href="@Url.Action("Login","Account", new { @id = "loginLink"})"><span class="elem glyphicon glyphicon-user"></span>Se connecter</a></li>

    </ul>
}